/include/ "system-conf.dtsi"
/ {
};

&{/axi/spi@e000d000/flash@0} {
	compatible = "micron,n25q128a11";
};

&axi_iic_temp_sensor {
	status = "okay";
};

&axi_iic_temp_sensor2 {
	status = "okay";
};

&axi_iic_temp_sensor3 {
	status = "okay";
};

&axi_iic_temp_sensor4 {
	status = "okay";
};

&axi_iic_fan_ctrl {
	status = "okay";
};

&axi_iic_si_osc {
	status = "okay";
};

&i2c0 {
    status = "okay";
    clock-frequency = <100000>;
    ipmb@10 {
        compatible = "ipmb-dev";
        i2c-protocol;
        bmc-addr = <0x20>;  // BMC's own IPMB address
    };
};

&i2c1 {
    status = "okay";
    clock-frequency = <100000>;
    ipmb@10 {  // IPMB-A
        compatible = "ipmb-dev";
        i2c-protocol;
        bmc-addr = <0x20>;  // BMC's own IPMB address
    };
};
